{% extends "layout/base.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <p>Place content here.</p>
			<p>
				<a href="#" class="btn btn-primary openTestDialog">Test dialog</a>
			</p>
        </div>
    </div>
{% endblock %}
{% block footer_script %}
$(function(){
	ProjectSkeleton.Controllers.Home.init();
});
{% endblock %}